*{
  box-sizing: border-box;
}
body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "poppins","sans-serif";
  background-color: white;
}
.navbar{
  height: 70px;
  display: flex;
  background-color: black;
  opacity: 0.5;
}
.nav-items > a{
  text-decoration: none;
  color: aliceblue;
  font-size: 16px;
  font-weight: 400;
}
.page1{
  width: 100%;
  height: 90vh;
  background-image: url('../img/ipal.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.logo{
  font-size: 40px;
  color: aliceblue;
  font-weight: 900;
  font-family: 'Lobster', cursive;
}
.box{
  margin-top: 55%;
}
.welcome-text > h1{
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: bold;
}
.welcome-text > p {
  color:rgb(255, 255, 255);
  font-size: 16px;
}
.menu-experience{
  text-align: center;
  padding: 50px;
}
.container-fluid{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 80px;
}
.image-grid{
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  height: 1269.09px;
  position: relative;
}
.single_gallery_item{
  position: absolute;
  left: 0;
  top: 0;
}
.single-gallery-content > img{
  width: 100%;
}
.mb-30{
  margin-bottom: 30px;
}
.single-gallery-content{
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1;
}
.image1{
  margin-bottom: 30px;
}
.image2{
  top: 0;
  left: 24.9994%;
}
.image3{
  top: 0;
  left: 49.9989%;
}
img.img3{
  height: 258.83px;
}
.image4{
  top: 0;
  left: 74.9983%;
}
.image5{
  top: 283.83px;
  left: 0;
}
.image6{
  top: 490.13px;
  left: 24.9994%;
}
.image7{
  top: 283.83px;
  left: 49.9989%;
}
.image8{
  top: 490.13px;
  left: 74.9983%;
}
.image9{
  top:773.96px;
  left: 0;
}
.image10{
  left: 24.9994%;
  top: 980.26px;
}
.image11{
  left: 49.9989%;
  top: 778.96px;
}
img.bigimage1{
  height: 462px;
}
img.bigimage2{
  height: 466px;
}
.section-heading{
  margin-bottom: 50px;
}
.instagram-feed-area{
  height: 306.33px;
  float: left;
  width: 100%;
}
.owl-coursel .owl-loaded{
  display: block;
}
.owl-coursel{
  position: relative;
  z-index: 1;
  width: 100%;
}
.owl-stage .owl-stage-outer{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  float: left;
}
.owl-item{
  width: 306.33px;
  float: left;
}
.single-instagram-item > img{
  width: 100%;
  height: 306.33px;
  position: relative;
}
.footer-content{
  padding: 20px 0px;
}
.social-info{
  font-size: 20px;
}
.social-info > a {
  margin-right: 20px;
  color: black;
}